
table{
    margin: 8px;
    padding: 8px;
    border-style: none;
    height: 200px;
    width: 700px;
    color: brown;
}

.bgclr{
    background-color: rgb(194, 209, 209);
}

ul.navbar {
    list-style-type: none;
    }

ul.navbar li {
    display: inline;
    padding: 15px;
}

ul.navbar li a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul.navbar li a:hover {
color: #555; /* Background color on hover */
}


#content {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    height: 70px;
  }

  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #170241;
    color: white;
    padding: 10px;
    height: 50px;
  }


.titles{
    display: flex;
    align-items: center;
}

.top{
    margin-top: 80px;
}


.row {
    display: flex;
    padding-right: 10px;
    align-items: center;
  }

  th, td {
    border: 1px solid #770000;
    padding: 8px;
    text-align: left;
    border-radius: 4px;
}

th {
    font-weight: bold;
    text-align: center;
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

