.pro{
    padding: 10px;
    width:500px;
}


.bgclr{
    background-color: rgb(194, 209, 209);
}


#content {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    height: 70px;
  }

  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #170241;
    color: white;
    padding: 10px;
    height: 50px;
  }


  
.top{
    margin-top: 80px;
}


ul.navbar {
    list-style-type: none;
    }

ul.navbar li {
    display: inline;
    padding: 15px;
}

ul.navbar li a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul.navbar li a:hover {
color: #555; /* Background color on hover */
}

.row {
    display: flex;
    padding-right: 10px;
    align-items: center;
  }

.titles{
    display: flex;
}

.title-left{
    flex:1;
}

.title-right{
    flex:3;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}