.container{
    position: relative; 
    width: 100%;
}

.content {
    position: absolute;
    top: 100px;
    margin-left: 100px;
    margin-top: 100px;
}

.book{
    background-color: rgb(64, 194, 140);
    border-radius: 10px;
    font-size: 14px;
    border: none;
    color: white;
}

.image-body{
    max-width: 1200px;
    max-height: 900px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
}

.rows{
    display: flex;
    padding: 10px 30px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;
    justify-content: space-between;
}

.forms{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    margin-top:80px;
    justify-content: space-between;
    margin-left: 45px;
}

input{
    height:40px;
    margin: 10px;
    width: 230px;
    border-radius: 5px;
}

select{
    height: 44px;
    margin: 10px;
    width: 240px;
    border-radius: 5px;
}

button {
    height: 44px;
    margin: 10px;
    width: 240px;
    border-radius: 5px;
}

.dept{
   margin-top: 250px;
   text-align: left;
}

.deptrow{
    display: flex;
    justify-content: space-between;
}

.depttext{
    display: flex;
    justify-content: space-between;

}

#dept-textcolumn{
    width: 360px;
}

.dept img{
    width: 360px;
}

#readmore{
    color: #17C1A3;
}

.whyggcontainer{
    background-color: #EAF2FF; 
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 100px;
}


#whyggbg{
    width: 650px;
}

.whyggtext{
    margin-top: 80px;
    margin-left: 50px;
}

.whyggtick{
    display: flex;
    align-items: center;
}

.whyggtick p{
    margin: 12px;
}

#tickimage{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}

.ourspecail{
    margin-top: 70px;
    align-items: center;
    text-align: center;
}

.ourspecail h6{
    color: #211E1E;
    margin: 10px;
}

.ourspecail h2{
    margin: 10px;
}

.ourspecial-imag{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

#ourspecial-size{
    width: 250px;

}

.ourspecail button{
    background-color: #17C1A3;
    color: white;
    width: 160px;
    border-style: none;
    margin-top: 30px;
}


.facilities{
    margin-top: 70px;
    align-items: center;
    text-align: center;
}

.facilities-imag{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

#facilities-size{
    width: 350px;

}


.interested{
    margin-top: 70px;
    align-items: center;
    max-width: 1200px;
    margin-left: 50px;
}

.interested-imag{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

#interested-size{
    width: 350px;

}

.interested-text{
    display: flex;
    text-align: justify;
}

.subscribe{
    margin-top: 100px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

.intrest-subscribe{
    background-color: #EAF2FF;
    width: 1300px;
}

.mailid{
    display: flex;
}

.mailid input{
    border-style: none;
    margin: 3px;
}
.mailid button{
    border-style: none;
    background-color: #17C1A3;
    color: white;
    width: 150px;
    margin: 3px;
}
hr{
    margin: 3px;
}
